<a href="https://colab.research.google.com/github/bobur-amirov/DataScienceExample/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Pandas kutubxonasiga kirish**
pandas kutubxonasi ma'lumotlar muhandisining eng muhim ish quroli hisoblanadi. Data Science loyihalar ustida ishlar ekanmiz, 90% amallar aynan pandas yordamida amalga oshiriladi. pandas o'zining maxsus ma'lumotlar tuzilmalariga ega va bu tuzilmalar ma'lumotlarga ishlov berish, tozalash va boshqa amllarni bir necha barobar osonlashtiradi.

Avvalgi bo'limda ko'rilgan numpy kutubxonasidan farqli ravishda, pandas kutubxonasi faqatgina sonlardan iborat massivlar bilan emas, balki turli ko'rinishdagi ma'lumotlardan iborat jadvallar bilan ishlashga moslashgan.

# pandas kutubxonasini chaqirib olamiz

In [3]:
import pandas as pd
import numpy as np

# **pandas tarkibidagi ma'lumotlar tuzilmalari**
pandas ikkita juda muhim va deyalri barcha loyihalar uchun mos tushuvchi Series va DataFrame ma'lumotlar tuzilamalariga ega. Keling ular bilan yaqindan tanishamiz.

Boshlanishiga bu ikki tuzilmalarni ham dasturimizga chaqirib olaylik.

In [4]:
from pandas import Series, DataFrame as df

In [5]:
obj = Series([1,19,-10,6,-24,-20])

In [6]:
obj # natija bizga obeyk ko'rinishda bo'ladi

0     1
1    19
2   -10
3     6
4   -24
5   -20
dtype: int64

In [7]:
obj.index # Bu obeyktimizni indexlarini ko'rish uchun index metodini foydalanamiz

RangeIndex(start=0, stop=6, step=1)

In [8]:
obj.values # BU obeyktimizni qiymatlarini ko'rish uchun values metodidan foydalanamiz

array([  1,  19, -10,   6, -24, -20])

In [9]:
obj[2] # 2 indexdagi qiymat

-10

In [10]:
obj2 = Series([1,2,3,4,5], index=['1', '2', '3', '4', '5'])

In [11]:
obj2

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [12]:
obj2[1] #bu default index

2

In [13]:
obj2['1'] # bu biz bergan index

1

In [14]:
obj2[['2', '4']]

2    2
4    4
dtype: int64

**Endi python dict dan Sereis yaratamiz va bu juda oson**

---



The following defines a dictionary that maps a location to the name of its corresponding Major League Baseball team:

In [15]:
MLB_team  = {'Colorado' : 'Rockies','Boston'   : 'Red Sox','Minnesota': 'Twins','Milwaukee': 'Brewers','Seattle'  : 'Mariners'}

In [16]:
team = Series(MLB_team) # dict dan Serais yaratyapmiz

In [17]:
team

Colorado      Rockies
Boston        Red Sox
Minnesota       Twins
Milwaukee     Brewers
Seattle      Mariners
dtype: object

In [18]:
team['Boston']

'Red Sox'

In [19]:
models = ['Minnesota', 'Milwaukee', 'Colorado', 'Coralina', 'Tampa', 'Boston', 'Seattle']

In [20]:
team2 = Series(MLB_team, index=models) # indexni uzimiz ko'rsatyapmiz qanaqa va qay tartibda bo'lishini

In [21]:
team2

Minnesota       Twins
Milwaukee     Brewers
Colorado      Rockies
Coralina          NaN
Tampa             NaN
Boston        Red Sox
Seattle      Mariners
dtype: object

In [23]:
team2.isnull() # bu metod qiymat mavjud bo'lsa False, mavjud bo'lmasa True qaytaaara

Minnesota    False
Milwaukee    False
Colorado     False
Coralina      True
Tampa         True
Boston       False
Seattle      False
dtype: bool

In [24]:
team2.notnull() # bu tepadahi metodga taskari bo;lgan metod

Minnesota     True
Milwaukee     True
Colorado      True
Coralina     False
Tampa        False
Boston        True
Seattle       True
dtype: bool

In [25]:
team2.name = 'Xokkey klublari' # Obeyktimizga nom beryapmiz

In [26]:
team2.index.name = "Klub nomlari"

In [27]:
team2

Klub nomlari
Minnesota       Twins
Milwaukee     Brewers
Colorado      Rockies
Coralina          NaN
Tampa             NaN
Boston        Red Sox
Seattle      Mariners
Name: Xokkey klublari, dtype: object

In [28]:
team2.hasnans # NaN qiymat bor bo'lsa True yuq bo'lsa False qiyat qaytaradi

True

In [29]:
team2.is_unique

False

In [30]:
team2.shape

(7,)

In [31]:
team2.iloc[1] # index tartib nomeri bo'yicha murojat qilish

'Brewers'

In [32]:
team2['Milwaukee'] # index bo'yicha murojat qilish

'Brewers'